In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2

In [3]:
dataset=pd.read_csv(r'C:\Users\user\Desktop\python\tips.csv')

In [4]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
observed = pd.crosstab(dataset['sex'],dataset['smoker'])
print(observed)

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [13]:
observed_values=observed.values

In [14]:
expected= stats.chi2_contingency(observed)
print(expected)

(0.0, 1.0, 1, array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]]))

In [15]:
expected_values= expected[3]
print(expected_values)

[[53.84016393 33.15983607]
 [97.15983607 59.84016393]]

In [16]:
s=0
for o,e in zip(observed_values , expected_values):
    s+= (o-e)**2/e
    
print(s)

[0.00073745 0.00119737]

In [17]:
chi_statistics= s[0]+s[1]  ##as thre are two categorical variables 
print(chi_statistics)

0.001934818536627623

In [25]:
no_of_rows= len(observed.iloc[0:2,0])
no_of_columns = len(observed.iloc[0,0:2])

ddof = (no_of_rows-1)*(no_of_columns-1)
print(ddof)
alpha=0.05

1

In [30]:
p_value=1 - chi2.cdf(chi_statistics,df=ddof)

if p_value <= alpha:
    print("reject H0, there is a relationship ")
else:
    print("retain H0, there is no relationship")

retain H0, there is no relationship

# Anova_practice

In [34]:
import seaborn as sns
df=pd.read_csv('Iris.csv')
df.head()
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [41]:
df['Species'].value_counts()

df_anova= df[['PetalWidthCm','Species']]

grps= pd.unique(df_anova.Species.values)
print(grps)

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [45]:
one_data=dict()
key=0

for i in range(len(df_anova)):
    if df_anova['Species']=='Iris-setosa':
        one_data[key]=df_anova['PetalWidthCm']
        key+=1
        
one_data

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [38]:
f_value= stats.f_oneway(df['Iris-setosa'], df['Iris-versicolor'],df['Iris-virginica'])

KeyError: 'Iris-setosa'